---
apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 24h
  url: https://kubernetes.github.io/ingress-nginx
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec: # <--- Moved these fields under 'spec'
  interval: 12h
  install:
    remediation: # Use 'remediation' for retry strategy
      retries: -1 # Retry indefinitely on failure
      # For simple retry, you might just need 'retries'
      # strategy: # This 'strategy' field is not part of the standard HelmRelease API for install/upgrade
      #   name: RetryOnFailure
      #   retryInterval: 2m
  upgrade:
    remediation: # Use 'remediation' for retry strategy
      retries: -1 # Retry indefinitely on failure
      # strategy: # This 'strategy' field is not part of the standard HelmRelease API for install/upgrade
      #   name: RetryOnFailure
      #   retryInterval: 3m
  chart:
    spec:
      chart: ingress-nginx
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: ingress-nginx
      # Removed redundant 'interval' from chart.spec
  values:
    controller: # Ingress NGINX values are typically under 'controller'
      service:
        type: "LoadBalancer" # Corrected capitalization for LoadBalancer
