---
apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 24h
  url: https://kubernetes.github.io/ingress-nginx
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 12h
  # Configure install action
  install:
    # Remediation strategy for failed installs
    remediation:
      retries: -1 # Retry indefinitely on failure
  upgrade:
    # Remediation strategy for failed upgrades
    remediation:
      retries: -1 # Retry indefinitely on failure
  chart:
    spec:
      chart: ingress-nginx
      version: "*" # Consider pinning to a specific version or range, e.g., '4.x.x' or '^4.0.0'
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: ingress-nginx
  values:
    controller:
      service:
        type: LoadBalancer # Corrected capitalization as you did, ensuring it's "LoadBalancer"
